body {
  background: #1c1d1f !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Carousel Section */

.item {
  pointer-events: none;
  top: 50%;
  width: 100%;
  transition: left 0.5s, transform 0.5s, opacity 0.5s, color 0.5s;
}

.item video {
  pointer-events: auto;
  transition: opacity 0.5s;
}

.item img {
  pointer-events: auto;
  transition: opacity 0.5s;
}

.item .test {
  pointer-events: none;
}

$level0-left: 0;

$level-1-left: 100%;
$level1-left: -100%;

$level-1-left-lg: 800px;
$level1-left-lg: -800px;

.level-1:hover video,
.level1:hover video {
  opacity: 0.8;
}

.level1 h1,
.level1 p {
  opacity: 0;
  transition: opacity 0.5s;
}

.level1 {
  left: $level1-left;
  z-index: 0;
  transform: scaleY(0.95) rotate(0.01deg) translateY(-52%);
}

.level1 video {
  opacity: 0.3;
}

.level-1 {
  left: $level-1-left;
  z-index: 0;
  transform: scaleY(0.95) rotate(0.01deg) translateY(-52%);
}

.level-1 video {
  opacity: 0.3;
}

.level0 {
  left: $level0-left;
  z-index: 1;
  transform: scaleY(1) rotate(0.01deg) translateY(-50%);
}

.level0 video {
  opacity: 0.8;
}

.left-enter {
  left: -200%;
  opacity: 0;
  transform: translateY(0.92) rotate(0.01deg);
}

.left-enter.left-enter-active {
  left: $level1-left;
  opacity: 1;
  transform: translateY(0.95) rotate(0.01deg);
  transition: left 0.5s, opacity 0.5s, transform 0.5s;
}

.left-exit {
  left: $level-1-left;
  opacity: 1;
  transform: translateY(0.92) rotate(0.01deg);
}

.left-exit.left-exit-active {
  left: $level-1-left + 100%;
  opacity: 0;
  transform: translateY(0.9) rotate(0.01deg);
  transition: left 0.5s, opacity 0.5s, transform 0.5s;
}

.right-enter {
  left: $level-1-left + 100%;
  transform: translateY(0.92) rotate(0.01deg);
}

.right-enter.right-enter-active {
  left: $level-1-left;
  opacity: 1;
  transform: translateY(0.95) rotate(0.01deg);
  transition: left 0.5s, opacity 0.5s, transform 0.5s;
}

.right-exit {
  left: $level1-left;
  transform: translateY(0.92) rotate(0.01deg);
  opacity: 1;
}

.right-exit.right-exit-active {
  left: -200%;
  opacity: 0;
  transform: translateY(0.9) rotate(0.01deg);
  transition: left 0.5s, opacity 0.5s, height 0.5s, transform 0.5s;
}

@media only screen and (min-width: 960px) {
  .level1 {
    left: $level1-left-lg;
  }

  .level-1 {
    left: $level-1-left-lg;
  }

  .left-enter {
    left: -1600px !important;
  }

  .left-enter.left-enter-active {
    left: $level1-left-lg !important;
  }

  .left-exit {
    left: $level-1-left-lg !important;
  }

  .left-exit.left-exit-active {
    left: $level-1-left-lg + 800px !important;
  }

  .right-enter {
    left: $level-1-left-lg + 800px !important;
  }

  .right-enter.right-enter-active {
    left: $level-1-left-lg !important;
  }

  .right-exit {
    left: $level1-left-lg !important;
  }

  .right-exit.right-exit-active {
    left: -1600px !important;
  }
}

// slider
$slider-level1-height: 150px;
$slider-level1-width: 130px;
$slider-level0-height: 150px;

$slider-level1-left: 0%;
$slider-level-0-left: 33.3%;
$slider-level-1-left: 67%;

$slider-level1-left-sm: -25%;
$slider-level0-left-sm: 25%;
$slider-level-1-left-sm: 75%;

.slider-item {
  height: 100px;
  transition: left 1s, transform 1s, opacity 1s;
}

.slider-level-1 {
  left: $slider-level-1-left;
  opacity: 0.6;
  width: 33%;
  text-align: center;
}

.slider-level0 {
  left: $slider-level-0-left;
  opacity: 1;
  width: 33%;
  text-align: center;
}

.slider-level1 {
  left: $slider-level1-left;
  opacity: 0.6;
  width: 33%;
  text-align: center;
}

.slider-level-1:hover,
.slider-level1:hover {
  opacity: 1;
}

.leftslider-enter {
  opacity: 0;
  left: $slider-level1-left - 25%;
}

.leftslider-enter.leftslider-enter-active {
  opacity: 0.6;
  left: $slider-level1-left;
  transition: left 1s, opacity 1s;
}

.leftslider-exit {
  opacity: 0.6;
  left: $slider-level-1-left + 50%;
}

.leftslider-exit.leftslider-exit-active {
  left: $slider-level-1-left + 50%;
  opacity: 0;
  transition: left 1s, opacity 1s;
}

.rightslider-enter {
  opacity: 0;
  left: $slider-level-1-left + 50%;
}

.rightslider-enter.rightslider-enter-active {
  left: $slider-level-1-left;
  opacity: 0.6;
  transition: left 1s, opacity 1s;
}

.rightslider-exit {
  left: $slider-level1-left - 50%;
  opacity: 0.6;
}

.rightslider-exit.rightslider-exit-active {
  left: $slider-level1-left -50%;
  opacity: 0;
  transition: left 1s, opacity 1s;
}

@media only screen and (max-width: 960px) {
  .slider-level1 {
    text-align: center;
    width: 50%;
    left: $slider-level1-left-sm;
  }

  .slider-level-1 {
    text-align: center;
    width: 50%;
    left: $slider-level-1-left-sm;
  }

  .slider-level0 {
    text-align: center;
    width: 50%;
    left: $slider-level0-left-sm;
  }

  // .slider-level1 h1 {
  //   right: 10%;
  // }

  // .slider-level-1 h1 {
  //   left: 10%;
  // }

  .leftslider-enter {
    left: -75%;
  }

  .leftslider-enter.leftslider-enter-active {
    left: $slider-level1-left-sm !important;
  }

  .leftslider-exit {
    left: $slider-level-1-left-sm !important;
  }

  .leftslider-exit.leftslider-exit-active {
    left: $slider-level-1-left-sm + 50% !important;
  }

  .rightslider-enter {
    left: $slider-level-1-left-sm + 50% !important;
  }

  .rightslider-enter.rightslider-enter-active {
    left: $slider-level-1-left-sm !important;
  }

  .rightslider-exit {
    left: $slider-level1-left-sm !important;
  }

  .rightslider-exit.rightslider-exit-active {
    left: -75% !important;
  }
}

// slider background animation
.item-enter {
  opacity: 0;
}
.item-enter.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.play {
  cursor: url(/images/play.png), auto;
}

.pause {
  cursor: url(/images/pause.png), auto;
}

.open {
  cursor: url(/images/open.png), auto;
}
