.animated:hover:before {
    width: 2rem;
    cursor: pointer;
    background-color: #00FFE6;
}

.animated::before {
    content: "";
    -webkit-background-clip: border-box;
    background-clip: border-box;
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin-right: 1rem;
    background-color: #fff;
    transition: width 0.4s ease 0s;
}

@media only screen and (max-width: 760px) {
    .animated:hover:before {
        content: "";
        -webkit-background-clip: border-box;
        background-clip: border-box;
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        margin-right: 1rem;
        background-color: #fff;
    }
}